body {
    padding-top: 30px;
    padding-bottom: 20px;

    &.dashboard-body {
        padding: 0 !important;
    }
}
/* Wrapping element */
/* Set some basic padding to keep content from hittinh edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Overriding bootstrap */
.container {
    &.dashboard {
        width: 100%;
    }
}

/* Site css goes beyond this point */
